@tailwind base;
@tailwind components;
@tailwind utilities;





body {
 background-color: #fcfcfc;
 
}

.cart-trolley--link{
position: relative;
}
.cart-trolley{
  position: relative;

}
.cart-total--item{
  width: 1rem;
  height: 1rem;
  position: absolute;
  display: grid;
  
  border-radius: 50%;
  color: #000;
  background-color: #35be35;
  place-items: center;
  top: -40%;
  left: 70%;
}

.mobile-navbar-btn{
  display:none;
  background-color: transparent;
  cursor: pointer;
  border:none;
}

/* .mobile-nav-icon[name="close-outline"]{
display: none;

} */



.services{
  background-color: #57585c;
}


@media (max-width:650px) {

.mobile-navbar-btn{
  display: inline-block;
  z-index: 99;

}
.mobile-navbar-icon{
  font-size: 4.2rem;
  color: black;
}

  
}