@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  body {
    background-color: var(--token-aa303802-e5d1-4856-bfe5-30475052d91c); /* Light grey background */
    color: var(--token-00af65c3-92fd-4f69-9228-cfe71d95f29a); /* Text color - black */
} 
}
.navbar-link{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar-link-mob{

  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}
.navbar-link-mob

.featured{
  font-family: "Outfit", sans-serif;

}
h3{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
p{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.cart-trolley--link{
position: relative;
}
.cart-trolley{
  position: relative;

}
.cart-total--item{
  width: 1rem;
  height: 1rem;
  position: absolute;
  display: grid;
  
  border-radius: 50%;
  color: #000;
  background-color: #35be35;
  place-items: center;
  top: -40%;
  left: 70%;
}

.mobile-navbar-btn{
  display:none;
  background-color: transparent;
  cursor: pointer;
  border:none;
}

/* .mobile-nav-icon[name="close-outline"]{
display: none;

} */



.services{
}


@media (max-width:650px) {

.mobile-navbar-btn{
  display: inline-block;
  z-index: 99;

}
.mobile-navbar-icon{
  font-size: 4.2rem;
  color: black;
}

  
}