@tailwind base;
@tailwind components;
@tailwind utilities;





body {
 background-color: rgb(203, 205, 233);
 
}

.cart-trolley--link{
position: relative;
}
.cart-trolley{
  position: relative;

}
.cart-total--item{
  width: 1rem;
  height: 1rem;
  position: absolute;
  display: grid;
  
  border-radius: 50%;
  color: #000;
  background-color: #35be35;
  place-items: center;
  top: -40%;
  left: 70%;
}